body {

	background: white;
	font-family: 'Lora', serif;
}

.title {

	font-family: 'Charmonman', cursive;
	font-size: 20vh;
	margin-top: 30vh;
	text-align: center;
	font-weight: bold;
	color: red;
	animation: color-change 7s infinite;
}

@keyframes color-change {
    0% { color: red; }
    25% { color: orange; }
    50% { color: orangered; }
    75% { color: orange; }
    100% { color: red; }
}

.startBtn {

	font-size: 6vh;
	margin-top: 3vh;
	animation: color-change 7s infinite;
}

.tinder {

	width: 3vw;
	height: auto;
}